#!/usr/bin/env tt
#Tested with "AIR 2.0" and "TwinTail de Angelmode Costume6".
while(TRUE){
	ma=0; mi=1000; sum=0
	n=int(gets())
	if(n==0)return;
	for(i=0;i<n;i++){
		s=int(gets());
		ma=ma>s?ma:s;
		mi=mi<s?mi:s;
		sum+=s;
	}
	r=(sum-ma-mi)/(n-2)
	print("${r}\n");
}